*~
._*
*.lock
*.DS_Store
*.swp
*.out
*.py[cod]
output

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/